
{% extends "base.html" %}
{% block content %}
	<div class="container">
		<div class="page-header">
			<h1>About Us</h1>
		</div>
		<div class="col-md-6 container-fluid">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h4>Ian Daszkowski</h4>
				</div>
				<div class="panel-body">
					<p> Bio... </p>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4>Parker Berg</h4>
				</div>
				<div class="panel-body">
					<p> Bio... </p>
				</div>
			</div>
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h4>Jacob Brouwer</h4>
				</div>
        <div class="contianer" style="padding:.25cm">
          <div class="row" style="padding-bottom:.25cm">
            <div class="col-md-6">
              <img src="http://www.cs.utexas.edu/~jacob82/jacob.jpg" class="img-thumbnail"/>
					  </div>
            <div class="col-md-6">
              <h3>Stats:</h3>
              <ul>
                <li>Commits: ?</li>
                <li>Issues: ?</li>
                <li>Unit Tests: 0</li>
              </ul>
              <h3>Major Responsibilities</h3>
              <ul>
                <li>VM Managment</li>
                <li>Data Aggregation</li>
                <li>Frontend</li>
                <li>Model Design</li>
                <li>Issues Mangement</li>
              </ul>
            </div>
			    </div>
          <div class="row">
            <div class="col-md-12">
              <p>I'm a fifth year student at the University of Texas at Austin studying towards a double major in Computer Science and Mathematics with a concentration in Probability, Statistics, and Data Analysis.</p>
              <p>I will be graduating with both degrees this spring (2015), and will be starting as a Software Engineer at Google in Boulder, Colorado in late August.</p>
              <p>I enjoy big data analysis, distributed computing, natural language processing, discrete mathematics, science fiction and fantasy novels, video games, manga, and web comics.</p>
            </div>
          </div>
			  </div>
			</div>
		</div>
		<div class="col-md-6 container-fluid">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Parker Timmins</h4>
				</div>
				<div class="panel-body">
					<p> Bio... </p>
				</div>
			</div>
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h4>Hannah Grounds</h4>
				</div>
				<div class="panel-body">
					<p> Bio... </p>
				</div>
			</div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Group Stats</h4>
        </div>
        <div class="panel-body">
          <ul>
            <li>Commits:</li>
            <li>Issues:</li>
            <li>Unit Tests:</li>
          </ul>
        </div>
      </div>
		</div>
	</div>
{% endblock %}
