
{% extends "base.html" %}
{% block content %}
	<title>About Us</title>
  <div class="container">
		<div class="page-header">
			<h1>About Us</h1>
		</div>
		<div class="col-md-6 container-fluid">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h4>Ian Daszkowski</h4>
				</div>
				<div class="panel-body">
				  <div class="contianer" style="padding:.25cm">
            <div class="row" style="padding-bottom:.25cm">
              <div class="col-md-6">
                <img src="http://www.cs.utexas.edu/~schnitz/ian.jpg" class="img-thumbnail"/>        
              </div>
              <div class="col-md-6">
                <h3>Stats:</h3>
                <ul>
                  <li>Commits: 91</li>
                  <li>Issues: 17</li>
                  <li>Unit Tests: 0</li>
                </ul>
                <h3>Major Responsibilities</h3>
                <ul>
                  <li>Front End</li>
                  <li>Back End Routing</li>
                  <li>Website Layout Design</li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p>I'm a senior at the University of Texas at Austin currently on track to graduate in December 2015 with a Bachelor's degree in Computer Science as well as a minor in Business and German.</p> 
                <p>I currently work part-time for a local start-up company and will be interning for eBay Inc. over the summer(2015). I have a passion for software development and the different technologies that I encounter and learn about as a result. My interests include app development (Android), back-end as well as front-end development, web development, fantasy novels, soccer, and video games.</p>
              </div>
            </div>
          </div>
        </div>
			</div>
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h4>Jacob Brouwer</h4>
				</div>
        <div class="contianer" style="padding:.25cm">
          <div class="row" style="padding-bottom:.25cm">
            <div class="col-md-6">
              <img src="http://www.cs.utexas.edu/~jacob82/jacob.jpg" class="img-thumbnail"/>
					  </div>
            <div class="col-md-6">
              <h3>Stats:</h3>
              <ul>
                <li>Commits: 97</li>
                <li>Issues: 31</li>
                <li>Unit Tests: 0</li>
              </ul>
              <h3>Major Responsibilities</h3>
              <ul>
                <li>VM Management</li>
                <li>Data Aggregation</li>
                <li>Frontend</li>
                <li>Model Design</li>
                <li>Issues Management</li>
              </ul>
            </div>
			    </div>
          <div class="row">
            <div class="col-md-12">
              <p>I'm a fifth year student at the University of Texas at Austin studying towards a double major in Computer Science and Mathematics with a concentration in Probability, Statistics, and Data Analysis.</p>
              <p>I will be graduating with both degrees this spring (2015), and will be starting as a Software Engineer at Google in Boulder, Colorado in late August.</p>
              <p>I enjoy big data analysis, distributed computing, natural language processing, discrete mathematics, science fiction and fantasy novels, video games, manga, and web comics.</p>
            </div>
          </div>
			  </div>
			</div>
		</div>
		<div class="col-md-6 container-fluid">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Parker Timmins</h4>
				</div>
        <div class="panel-body">
          <div class="contianer" style="padding:.25cm">
            <div class="row" style="padding-bottom:.25cm">
              <div class="col-md-6">
                <img src="http://www.cs.utexas.edu/~parkert/pht.jpg" class="img-thumbnail"/>                    
              </div>
              <div class="col-md-6">
                <h3>Stats:</h3>
                <ul>
                  <li>Commits: 85</li>
                  <li>Issues: 21</li>
                  <li>Unit Tests: 26</li>
                </ul>
                <h3>Major Responsibilities</h3>
                <ul>
                  <li>Model Design</li>
                  <li>API Implementation</li>
                  <li>Testing</li>
                  <li>Technical Report</li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p>I am a CS major and I'll be graduating in December 2015. My interests are in formal software verification and programming languages. I also enjoy hacking around with Arduinos, woodworking, and reading (mostly science fiction).</p>
              </div>
            </div>
          </div>
        </div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4>Parker Berg</h4>
				</div>
			  <div class="panel-body">
          <div class="contianer" style="padding:.25cm">
            <div class="row" style="padding-bottom:.25cm">
              <div class="col-md-6">
                <img src="https://scontent-dfw.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/1395162_10153726795394148_5466838299525027049_n.jpg?oh=7326b912e50a76331d8a6a0327486eab&oe=55A6E928" class="img-thumbnail"/>                    
              </div>
              <div class="col-md-6">
                <h3>Stats:</h3>
                <ul>
                  <li>Commits: 34</li>
                  <li>Issues: 22</li>
                  <li>Unit Tests: 0</li>
                </ul>
                <h3>Major Responsibilities</h3>
                <ul>
                  <li>APIary Documentation</li>
                  <li>Technical Report</li>
                  <li>Project Management</li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p>Hello World! I'm a 4th Year Computer Science
                and Plan II student graduating over the summer.
                I'm currently honored to be the president of my
                fraternity on campus. My main passion is working
                with and empowering people, but I also love to
                build things! (Software Engineering, it turns
                out, is an amazing way to build things with
                <b>no overhead</b>.
                I'm moving to San Francisco in the fall.</p>
              </div>
            </div>
          </div>
        </div> 
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Group Stats</h4>
        </div>
        <div class="panel-body">
          <ul>
            <li><a href="https://github.com/plberg/cs373-idb" target="_blank">GitHub</a></li>
            <li><a href="http://docs.celebrityrapsheet.apiary.io/" target="_blank">APIary Documentation</a></li>
            <li><a href="https://speakerdeck.com/jabrouwer82/swe-t-dot-py" target="_blank">SpeakerDeck</a></li>
            <li>Commits: 271</li>
            <li>Issues: 90</li>
            <li>Unit Tests: 26</li>
          </ul>
        </div>
      </div>
		</div>
	</div>
{% endblock %}
