
{% extends "base.html" %}
{% block content %}
	<div class="container">
		<div class="page-header">
			<h1>About Us</h1>
		</div>
		<div class="col-md-6 container-fluid">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h4>Ian Daszkowski</h4>
				</div>
				<div class="panel-body">
					<p> Bio... </p>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4>Parker Berg</h4>
				</div>
				<div class="panel-body">
					<p> Bio... </p>
				</div>
			</div>
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h4>Jacob Brouwer</h4>
				</div>
				<div class="panel-body">
					<p> Bio... </p>
				</div>
			</div>
		</div>
		<div class="col-md-6 container-fluid">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Parker Timmins</h4>
				</div>
				<div class="panel-body">
					<p> Bio... </p>
				</div>
			</div>
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h4>Hannah Grounds</h4>
				</div>
				<div class="panel-body">
					<p> Bio... </p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
