{% extends "base.html" %}
{% block content %}
  <title>{{ celebrity.name }}'s Rap Sheet</title>
  <div class="container">
        <div class="page-header"><h1>Detailed Information</h1></div>
		      <div class="col-md-4 container-fluid">
            <div class="panel panel-default">
              <div class="panel-heading">
                  {{ celebrity.name }}
              </div>
              <div class="panel-body">
                  <img src="{{ celebrity.picture_url }}" class="img-thumbnail" alt="{{ celebrity.picture_url }}">
                  <ul class="list-group">
                      {% if celebrity.aliases %}
                      <li class="list-group-item"><b>Aliases</b></li>
                      <li class="list-group-item">
                          <ul class="list-unstyled">
                              {% for alias in celebrity.aliases %}
                              <li>{{ alias.alias }}</li>
                              {% endfor %}
                          </ul>
                        </li>
                        {% endif %}
                        {% if celebrity.birthday %}
                        <li class="list-group-item"><b>Birthday</b></li>
                        <li class="list-group-item">{{ date_formatter(celebrity.birthday) }}</li>
                        {% endif %}
                        {% if celebrity.twitter_handle %}
                        <li class="list-group-item"><b>Twitter</b></li>
                        <li class="list-group-item">
                          <a href="https://twitter.com/{{ celebrity.twitter_handle|stripTwitter }}">{{ celebrity.twitter_handle }}</a>
                        </li>
                        {% endif %}
                        {% if celebrity.wiki_url or celebrity.imdb_url %}
                        <li class="list-group-item"><b>Additional Links</b></li>
                        <li class="list-group-item">
                          <ul class="list-unstyled">
                              {% if celebrity.wiki_url %}
                              <li><a href="{{ celebrity.wiki_url }}" target="_blank">Wikipedia</a></li>
                              {% endif %}
                              {% if celebrity.imdb_url %}
                              <li><a href="{{ celebrity.imdb_url }}" target="_blank">IMDB</a></li>
                              {% endif %}
                          </ul>
                        </li>
                        {% endif %}
                    </ul>
              </div>
            </div>
		      </div>
        <div class="col-md-8 container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Description
                </div>
                <div class="panel-body">
                    <p>{{ celebrity.description }}</p>
                    <h5 align="center">Crimes charged with:</h5>
                    <ul class="list-group">
                        {% for crime in celebrity.crimes %}
                        <li class="list-group-item"><a href="/crimes/{{ crime.name }}">{{ crime.name }}</a></li>
                        {% endfor %}
                    </ul>    
                </div>
            </div>
        </div>
	</div>
{% endblock %}
