
{% extends "base.html" %}

{% block content %}


  
    <div class="container">
	    <div class="page-header">
          <a class="btn btn-default" href="/tests" role="button">Run Tests</a>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
                <div id="results">Passed: 0<br>Failed: 0</div>
        </div>
        <div class="panel-body">
          <div  class="progress">
             <div id="progress_bar" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="row">
            <div class="col-md-12 container" >
                <div id="message" style="height: 200px; width: auto; overflow:auto"></div>
            </div>
          </div>
        </div>
    </div>
    </div>
    
        <script>
                var source = new EventSource('{{test_url}}', { withCredentials: true});

                var errorBarClass = "progress-bar progress-bar-danger progress-bar-striped active"

                var successes = 0;
                var failures = 0;
                var num_tests = 0;
                var done = false;

                var bar = document.getElementById('progress_bar')

                source.onmessage = function (event) {
                  if(!done) {
                    var data = JSON.parse(event.data);

                var msg = document.getElementById('message')
                var res = document.getElementById('results')

                    if(data.return_code === 'num_tests') {
                      num_tests = parseInt(data.message);
                    }
                    else {

                      if(data.return_code === 'success') {
                        successes += 1;
                        msg.innerHTML += 'Passed: ' + data.message + '<br>'
                      }
                      else {
                        failures += 1;
                        bar.setAttribute('class', errorBarClass)
                        msg.innerHTML += 'Failed: ' + data.message + '<br>'
                        
                      }

              
                      res.innerHTML = 'Passed: ' + successes + '<br>' + 'Failed: ' + failures + '<br>' 
                      var ratioDone = (successes + failures) / num_tests;
                      var percentDone = Math.ceil(ratioDone * 100);

                      console.log(percentDone + "% done running tests")
                    
                      bar.setAttribute('style', 'width:' + percentDone + '%');
                    }
                  }
                };

                source.onopen = function () {
                };

                source.onerror = function () {
                  done = true;
                };

         </script>



    {% endblock %}
